@model DrivoJoyWebApp.Models.RTOFormDetailsViewModel

  <div ng-app="RTOForms" ng-controller="SellFormController">

    <div style="padding-left:4px;padding-top:5px;"><h2>Seller Details</h2></div>
    <div style="padding-left:2px;">
        <input style="width:10px;height:4px;padding-top:6px;" type="text" ng-model="SellerFullName" placeholder="Full Name" />
        <input style="width:15px;height:4px;padding-top:4px;" type="text" ng-model="SellerAddress" placeholder="Address" />

        <div style="float:left; width:8px;height:4px;padding-top:4px;padding-right:2px"><input type="text" ng-model="DateOfTransfer" placeholder="Transaction Date" /></div>
        <div style="float:right; width:8px;height:4px;padding-top:4px;"><input type="text" ng-model="VehicleNumber" placeholder="Vehicle Number" /></div>

        <div style="float:left; width:6px;height:4px;padding-top:4px;padding-right:2px"><input type="text" ng-model="Make" placeholder="Make of vehicle" /></div>
        <div style="float:right; width:8px;height:4px;padding-top:4px;"><input type="text" ng-model="ChassisNumber" placeholder="Chassis Number" /></div> 

        <div style="float:left; width:8px;height:4px;padding-top:4px;padding-right:2px"><input type="text" ng-model="EngineNumber" placeholder="Engine Number" /></div>
        <div style="float:right; width:10px;height:4px;padding-top:4px;"><input type="text" ng-model="BuyerFullName" placeholder="Full Name Of Buyer" /></div> 

        <input style="width:15px;height:4px;padding-top:4px;" type="text" ng-model="BuyerAddress" placeholder="Address Of Buyer" />
        <input style="width:15px;height:4px;padding-top:4px;" type="text" ng-model="Buyer_Son_Wife_Duaghter_Of" placeholder= "Buyer is son/wife/daughter of.." />

        </div>
      <div style="padding-left:7px;padding-top:5px;">
          <input type="button" class="btn btn-primary" value="Submit Details" ng-click="submitForm()" />        <!--Yet to add 'save' feature-->
      </div>  
      @Scripts.Render("~/bundles/bootstrap")
</div>
