body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.myButton {
	background-color:#5fc72c;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
     padding-top:10px;
	border:1px solid #3c9e46;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 10px 10px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.mySecondButton {
	background-color:#599bb3;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.mySecondButton:hover {
	background-color:#cee7eb;
}
.mySecondButton:active {
	position:relative;
	top:1px;
}
.element_3 {
    background-color:#f6f6f6;
    width:100%;
    height:400px;
}



.myThirdButton {
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#d6d6af;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f7edf7;
}
.myThirdButton:hover {
	background-color:#944d94;
};
.myThirdButton:active {
	position:relative;
	top:1px;
}

.myFourthButton {
	background-color:#39ab22;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myFourthButton:hover {
	background-color:#3bb858;
}
.myFourthButton:active {
	position:relative;
	top:1px;
}



.myFifthButton {
	background-color:#a9b3a6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#6b636b;
	font-family:Arial;
	font-size:13px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myFifthButton:hover {
	background-color:#828a84;
}
.myFifthButton:active {
	position:relative;
	top:1px;
}

.mySixthButton {
	background-color:#fafafa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #aabdab;
	display:inline-block;
	cursor:pointer;
	color:#b5acb5;
	font-family:Arial;
	font-size:11px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d9ebd6;
}
.mySixthButton:hover {
	background-color:#848c84;
}
.mySixthButton:active {
	position:relative;
	top:1px;
}

.transbox
{
  margin: 30px;
  background-color:black;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}


.transboxTwo
{
  margin: 30px;
  background-color:gray;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */  
}

.mySeventhButton {
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #f5faf5;
	display:inline-block;
	cursor:pointer;
	color:#f0e7f0;
	font-family:Arial;
	font-size:10px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d9ebd6;
}
.mySeventhButton:hover {
	background-color:#848c84;
}
.mySeventhButton:active {
	position:relative;
	top:1px;
}
.text{
    font-size:12pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:12px;
    padding-left:20px;
}
.myEightButton {
	background-color:#3476c7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #3c00ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myEightButton:hover {
	background-color:#262561;
}
.myEightButton:active {
	position:relative;
	top:1px;
}
.myNinthButton {
	background-color:#419ceb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dfe1e6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	padding:10px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ebedea;
}
.myNinthButton:hover {
	background-color:#2a3dbd;
}
.myNinthButton:active {
	position:relative;
	top:1px;
}

a{
    color:white;
}

a:hover{
     text-decoration:none;
    color:#ca3535;
}